[submodule "vim/bundle/vimwiki"]
	path = vim/bundle/vimwiki
	url = git://github.com/vim-scripts/vimwiki
  ignore = dirty
[submodule "vim/bundle/vim-ruby-refactoring.git"]
	path = vim/bundle/vim-ruby-refactoring.git
	url = git://github.com/ecomba/vim-ruby-refactoring.git
  ignore = dirty
[submodule "vim/bundle/tabular.git"]
	path = vim/bundle/tabular.git
	url = git://github.com/godlygeek/tabular.git
  ignore = dirty
[submodule "vim/bundle/vim-less.git"]
	path = vim/bundle/vim-less.git
	url = git://github.com/groenewege/vim-less.git
  ignore = dirty
[submodule "vim/bundle/vim-json.git"]
	path = vim/bundle/vim-json.git
	url = git://github.com/elzr/vim-json.git
  ignore = dirty
[submodule "vim/bundle/vim-blockle.git"]
	path = vim/bundle/vim-blockle.git
	url = git://github.com/jgdavey/vim-blockle.git
  ignore = dirty
[submodule "vim/bundle/vim-textobj-user.git"]
	path = vim/bundle/vim-textobj-user.git
	url = git://github.com/kana/vim-textobj-user.git
  ignore = dirty
[submodule "vim/bundle/vim-coffee-script.git"]
	path = vim/bundle/vim-coffee-script.git
	url = git://github.com/kchmck/vim-coffee-script.git
  ignore = dirty
[submodule "vim/bundle/ctrlp.vim.git"]
	path = vim/bundle/ctrlp.vim.git
	url = git://github.com/kien/ctrlp.vim.git
  ignore = dirty
[submodule "vim/bundle/vim-textobj-rubyblock.git"]
	path = vim/bundle/vim-textobj-rubyblock.git
	url = git://github.com/nelstrom/vim-textobj-rubyblock.git
  ignore = dirty
[submodule "vim/bundle/vim-javascript.git"]
	path = vim/bundle/vim-javascript.git
	url = git://github.com/pangloss/vim-javascript.git
  ignore = dirty
[submodule "vim/bundle/nerdtree.git"]
	path = vim/bundle/nerdtree.git
	url = git://github.com/scrooloose/nerdtree.git
  ignore = dirty
[submodule "vim/bundle/vim-pasta.git"]
	path = vim/bundle/vim-pasta.git
	url = git://github.com/sickill/vim-pasta.git
  ignore = dirty
[submodule "vim/bundle/textile.vim.git"]
	path = vim/bundle/textile.vim.git
	url = git://github.com/timcharper/textile.vim.git
  ignore = dirty
[submodule "vim/bundle/tcomment_vim.git"]
	path = vim/bundle/tcomment_vim.git
	url = git://github.com/tomtom/tcomment_vim.git
  ignore = dirty
[submodule "vim/bundle/vim-cucumber.git"]
	path = vim/bundle/vim-cucumber.git
	url = git://github.com/tpope/vim-cucumber.git
  ignore = dirty
[submodule "vim/bundle/vim-endwise.git"]
	path = vim/bundle/vim-endwise.git
	url = git://github.com/tpope/vim-endwise.git
  ignore = dirty
[submodule "vim/bundle/vim-fugitive.git"]
	path = vim/bundle/vim-fugitive.git
	url = git://github.com/tpope/vim-fugitive.git
  ignore = dirty
[submodule "vim/bundle/vim-git.git"]
	path = vim/bundle/vim-git.git
	url = git://github.com/tpope/vim-git.git
  ignore = dirty
[submodule "vim/bundle/vim-haml.git"]
	path = vim/bundle/vim-haml.git
	url = git://github.com/tpope/vim-haml.git
  ignore = dirty
[submodule "vim/bundle/vim-markdown.git"]
	path = vim/bundle/vim-markdown.git
	url = git://github.com/tpope/vim-markdown.git
  ignore = dirty
[submodule "vim/bundle/vim-rails.git"]
	path = vim/bundle/vim-rails.git
	url = git://github.com/tpope/vim-rails.git
  ignore = dirty
[submodule "vim/bundle/vim-repeat.git"]
	path = vim/bundle/vim-repeat.git
	url = git://github.com/tpope/vim-repeat.git
  ignore = dirty
[submodule "vim/bundle/vim-surround.git"]
	path = vim/bundle/vim-surround.git
	url = git://github.com/tpope/vim-surround.git
  ignore = dirty
[submodule "vim/bundle/vim-vividchalk.git"]
	path = vim/bundle/vim-vividchalk.git
	url = git://github.com/tpope/vim-vividchalk.git
  ignore = dirty
[submodule "vim/bundle/vim-matchit.git"]
	path = vim/bundle/vim-matchit.git
	url = git://github.com/tsaleh/vim-matchit.git
  ignore = dirty
[submodule "vim/bundle/vim-shoulda.git"]
	path = vim/bundle/vim-shoulda.git
	url = git://github.com/tsaleh/vim-shoulda.git
  ignore = dirty
[submodule "vim/bundle/vim-tmux.git"]
	path = vim/bundle/vim-tmux.git
	url = git://github.com/tsaleh/vim-tmux.git
  ignore = dirty
[submodule "vim/bundle/vim-ruby.git"]
	path = vim/bundle/vim-ruby.git
	url = git://github.com/vim-ruby/vim-ruby.git
  ignore = dirty
[submodule "vim/bundle/Gist.vim.git"]
	path = vim/bundle/Gist.vim.git
	url = git://github.com/vim-scripts/Gist.vim.git
  ignore = dirty
[submodule "vim/bundle/IndexedSearch.git"]
	path = vim/bundle/IndexedSearch.git
	url = git://github.com/vim-scripts/IndexedSearch.git
  ignore = dirty
[submodule "vim/bundle/jQuery.git"]
	path = vim/bundle/jQuery.git
	url = git://github.com/vim-scripts/jQuery.git
  ignore = dirty
[submodule "vim/bundle/vim-slim.git"]
	path = vim/bundle/vim-slim.git
	url = git://github.com/slim-template/vim-slim.git
  ignore = dirty
[submodule "vim/bundle/vim-airline.git"]
	path = vim/bundle/vim-airline.git
	url = git://github.com/bling/vim-airline.git
  ignore = dirty
[submodule "vim/bundle/Windows-PowerShell-Syntax-Plugin.git"]
	path = vim/bundle/Windows-PowerShell-Syntax-Plugin.git
	url = git://github.com/vim-scripts/Windows-PowerShell-Syntax-Plugin.git
  ignore = dirty
[submodule "vim/extras/consolas-powerline-vim.git"]
	path = vim/extras/consolas-powerline-vim.git
	url = git://github.com/eugeneching/consolas-powerline-vim.git
  ignore = dirty
[submodule "vim/bundle/vim-razor.git"]
	path = vim/bundle/vim-razor.git
	url = git://github.com/adamclerk/vim-razor.git
  ignore = dirty
[submodule "vim/bundle\\snipmate.vim.git"]
	path = vim/bundle/snipmate.vim.git
	url = https://github.com/msanders/snipmate.vim.git
  ignore = dirty
[submodule "vim/bundle/vim-colors-solarized"]
	path = vim/bundle/vim-colors-solarized
	url = https://github.com/altercation/vim-colors-solarized
  ignore = dirty
[submodule "vim/bundle/vim-easymotion"]
	path = vim/bundle/vim-easymotion
	url = https://github.com/Lokaltog/vim-easymotion
  ignore = dirty
[submodule "vim/bundle/vim-shell"]
	path = vim/bundle/vim-shell
	url = https://github.com/xolox/vim-shell.git
  ignore = dirty
[submodule "vim/bundle/vim-misc"]
	path = vim/bundle/vim-misc
	url = https://github.com/xolox/vim-misc
  ignore = dirty
[submodule "vim/bundle/vim-nerdtree-tabs"]
	path = vim/bundle/vim-nerdtree-tabs
	url = https://github.com/jistr/vim-nerdtree-tabs.git
  ignore = dirty
[submodule "vim/bundle/vim-pathogen"]
	path = vim/bundle/vim-pathogen
	url = https://github.com/tpope/vim-pathogen.git
  ignore = dirty
